<h1>Contestants Index Page</h1>

<% @contestants.each do |contestant|%>

    <h3><%= "Name: #{contestant.name}" %></h3>
    <h3><%= "Projects:" %></h3>
        <% contestant.projects.each do |project| %>
            <h3><%= "#{project.name}" %></h3>
        <% end %>
    <br>
<% end %>