<h1> Project Runway Contestants</h1>


<% @contestants.each do |contestant|%>
  <section id="contestant-<%= contestant.id %>">
    <h3><%= contestant.name %></h3>
  <p>Projects:</p>
    <% contestant.projects.each do |project|%>
        <li><%= project.name %></li>
    <% end %>
  </section>
<% end %>