<h1> Contestants Index Page</h1>

<% @contestants.each do |contestant| %>
  <section id="contestant-<%= contestant.id %>">
    <%= contestant.name %>
    <% contestant.projects.each do |project| %>
      <%= project.name%>
    <% end %>
  </section>
<% end %>