<h2>Project Name: <%= @project.name %></h2>
<h2>Project Material: <%= @project.material %></h2>
<h2>Theme: <%= @project.challenge.theme %></h2>
<h2>Number of Contestants: <%= @project.contestants.count %></h2>