<p><u>Project Name</u>: <%= @project.name %></p>
<p><u>Material</u>: <%= @project.material %> </p>
<p><u>Challenge Theme</u>: <%= @challenge.theme %> </p>
<p><u>Number of Contestants</u>: <%= @project.number_of_contestants %> </p>
