<h1><%= @project.name %></h1>
<h3>Material: <%= @project.material %></h3><br>
<h3>Challenge Theme: <%= @project.challenge.theme %></h3><br><br>
<h3>Number of Contestants: <%= @project.contestants.count %><br>
